<div class="course-sidebar-info" [class.content-hidden]="shopCatActive">
    <h3 class="drop-btn" (click)="shopCat()">Categorias</h3>
    <ul>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-bus">
             <label class="edu-check-label" for="e-bus">Ingenieria de Sistemas</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-dev">
             <label class="edu-check-label" for="e-dev">Ingenieria Comercial</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-data">
             <label class="edu-check-label" for="e-data">Ingenieria Civil</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-art">
             <label class="edu-check-label" for="e-art">Ingenieria de Sistemas Electronicos</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-fin">
             <label class="edu-check-label" for="e-fin">Ingenieria Agroindustrial</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-mark">
             <label class="edu-check-label" for="e-mark">Ingenieria Petrolera</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-per">
             <label class="edu-check-label" for="e-per">Ingenieria</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-heal">
             <label class="edu-check-label" for="e-heal">Tecnologia e Informatica</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-photo">
             <label class="edu-check-label" for="e-photo">Fotografia</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-music">
             <label class="edu-check-label" for="e-music">Ciencias Militares</label>
          </div>
       </li>
    </ul>
 </div>