<!-- academic-courses-area-start -->
<div class="academic-courses-area relative pt-[110px] pb-[120px]">
    <img class="academic-shape-2" src="assets/img/shape/acadenic-shape-2.png" alt="shape">
    <div class="container">
        <div class="section-title mb-[50px] text-center">
            <h2>Cursos <span class="down-mark-line-2">Academicos</span></h2>
        </div>
        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
            <div class="col-span-12 md:col-span-6 xl:col-span-4">
                <div class="academic-box relative mb-[30px]">
                    <img class="academic-shape" src="assets/img/shape/acadenic-shape-1.png" alt="image not found">
                    <div class="academic-thumb">
                        <img src="assets/img/course/civil.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Microsoft Excel - Excel from Beginner to Advanced</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor flex items-center">
                                <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Ing. Veronica Sasha</a>
                            </div>
                            <p>
                                Sumérgete en el mundo de la ingeniería civil con este curso.
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>10/2023</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/']">Incribete ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-4">
                <div class="academic-box mb-[30px]">
                    <div class="academic-thumb">
                        <img src="assets/img/course/cursos-excel.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Microsoft Excel - Excel de Principiante a Avanzado</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor flex items-center">
                                <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Ing. Veronica Sasha</a>
                            </div>
                            <p>
                                Excel con este curso AZ Microsoft Excel. Microsoft Excel 2010, 2013, 2016, Excel 2019 y Microsoft/Office 365/2023
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>10/2023</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/']">Incribete ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 xl:col-span-4">
                <div class="academic-box mb-[30px]">
                    <div class="academic-thumb">
                        <img src="assets/img/course/fotografia.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Microsoft Excel - Excel from Beginner to Advanced</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor flex items-center">
                                <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Ing. Veronica Sasha</a>
                            </div>
                            <p>
                                Descubre técnicas de composición, iluminación, edición de imágenes y más para capturar momentos extraordinarios.
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>10/2023</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/']">Incribete ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="academic-bottom-btn text-center">
            <a class="edo-theme-btn mt-[30px]" [routerLink]="['/course-3']">Ver todos los cursos</a>
        </div>
    </div>
</div>
<!-- academic-courses-area-end -->