<div class="course-instructors">
    <h3>Instructor</h3>
    <div class="instructors-heading">
        <div class="instructors-img w-img">
            <a [routerLink]="['/instructor-profile']"><img
                    src="assets/img/course/course-instructors.png"
                    alt="image not found"></a>
        </div>
        <div class="instructors-body">
            <h5><a [routerLink]="['/instructor-profile']">Mayte Chavarria</a></h5>
            <span>Ingeniera de Sistemas.</span>
            <div class="intructors-review">
                <i class="fas fa-star"></i>
                <span>4.7 (54 reseñas)</span>
            </div>
            <div class="instructors-footer">
                <i class="fas fa-desktop"></i>
                <span>3 Cursos</span>
                <i class="far fa-user-friends"></i>
                <span>78,742 Estudiantes</span>
            </div>
        </div>
    </div>
    <div class="intructors-content">
        <p>Profesional interdisciplinario centrado en la administración, y planificación científica e integral 
            en la administración de la información, con capacidades  para desarrollarse en áreas referentes a 
            la gestión de sistemas de información, la administración de tecnología de punta al modelar, optimización 
            y simulación de sistemas proponiendo soluciones de ingeniería y reingeniería a problemas complejos enfocados 
            a la toma de decisiones gerenciales, con un enfoque sistémico  transdisciplinario, impulsando el uso de tecnologías 
            innovadoras emergentes.</p>
    </div>
</div>