<!-- student-choose-area start -->
<div class="student-choose-area overflow-hidden pt-[120px] pb-[110px]">
   <div class="container">
      <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
         <div class="col-span-12 lg:col-span-5">
            <div class="student-wrapper">
               <div class="titulo-seccion mb-[30px]">
                  <h2>Por qué los estudiantes eligen<span class="down-mark-line">EMI Stream</span> para adquirir sus conocimientos</h2>
              </div>
              <div class="contenido-eleccion-estudiante">
                  <p>Ayudar a los empleados a adquirir habilidades y proporcionar desarrollo profesional a menudo pasan a un segundo plano frente a las prioridades comerciales, pero es mejor en el lugar de trabajo en este momento. El setenta por ciento de los trabajadores piensan eso.</p>
              </div>
              <div class="student-choose-list">
                  <ul>
                      <li><i class="fas fa-check-circle"></i>    Gratis para estudiante de la EMI</li>
                      <li><i class="fas fa-check-circle"></i>    Cursos fáciles de inscribirse</li>
                      <li><i class="fas fa-check-circle"></i>    Certificado de curso para cursos específicos</li>
                  </ul>
              </div>
               <div class="student-btn">
                  <a class="edu-sec-btn" [routerLink]="['/about']">More about us</a>
               </div>
            </div>
         </div>
         <div class="col-span-12 lg:col-span-2">
            <div class="student-wrapper relative">
               <div class="shap-01">
               </div>
            </div>
         </div>
         <div class="col-span-12 lg:col-span-5">
            <div class="student-choose-wrapper relative">
               <div class="shap-02"></div>
               <div class="shap-03">
                  <img src="assets/img/shape/student-shape-03.png" alt="image not found">
               </div>
               <div class="shap-04">
                  <img src="assets/img/shape/student-shape-04.png" alt="image not found">
               </div>
               <div class="shap-05">
                  <img src="assets/img/shape/student-shape-05.png" alt="image not found">
               </div>
               <div class="shap-06">
                  <img src="assets/img/shape/student-shape-06.png" alt="image not found">
               </div>
               <div class="shap-07">
                  <img src="assets/img/shape/student-shape-07.png" alt="image not found">
               </div>
               <div class="student-choose-thumb">
                  <img src="assets/img/about/LogoEmi.png" alt="image not found" width="350px">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- student-choose-area end -->