<!-- course-barup-area -->
<div class="course-bar-up-area pt-[120px]">
   <div class="container">
      <div class="grid grid-cols-12">
         <div class="col-span-12">
            <div class="course-main-wrapper mb-[30px]">
               <div class="bar-filter">
                  <i class="flaticon-filter"></i>
                  <span>Filtros</span>
                  <span>(2)</span>
               </div>
               <div class="corse-bar-wrapper">
                  <div class="bar-search">
                     <form action="#">
                        <div class="bar-secrch-icon relative">
                           <input type="text" placeholder="Busca una palabra...">
                           <button type="submit"><i class="far fa-search"></i></button>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="course-sidebar-tab">
                  <div class="course-sidebar-wrapper">
                     <div class="curse-tab-left-wrap">
                        <div class="course-results">
                           Mostrar <span class="course-result-showing">15</span> de <span
                              class="course-result-number">60</span> resultados
                        </div>
                     </div>
                     <div class="couse-dropdown">
                        <div class="course-drop-inner">
                           <select>
                              <option value="">Nuevas publicaciones</option>
                              <option value="">Mas vistos</option>
                              <option value="">Mejores calificados</option>
                              <option value="">Duracion</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
<!-- course-barup-area-end -->