<!-- hero-area-start -->
<div class="hero-area-3 hero-height-3" [style.background-image]="'url(assets/img/slider/emi-landscape.jpg)'">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="xl:col-span-2"></div>
            <div class="col-span-12 xl:col-span-8 text-center">
                <div class="university-btn">
                    <a class="edu-five-btn" [routerLink]="['/about']">Mas sobre nosotros</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-area-end -->