<div class="course-sidebar-info" [class.content-hidden]="shopLevelActive">
   <h3 class="drop-btn" (click)="shopLevel()">Nivel</h3>
   <ul>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-lave">
            <label class="edu-check-label" for="e-lave">Todos los niveles (5)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-beg">
            <label class="edu-check-label" for="e-beg">Principiante (36)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-inter">
            <label class="edu-check-label" for="e-inter">Intermedio (25)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-exp">
            <label class="edu-check-label" for="e-exp">Avanzado (32)</label>
         </div>
      </li>
   </ul>
</div>