<!-- university-message-start -->
<div class="university-message-area pt-[110px] pb-[105px] bg-gray-50">
    <div class="container">
        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
            <div class="col-span-12 lg:col-span-4">
                <div class="section-title mb-[30px]">
                    <h2>Bienvenido a <span class="down-mark-line-2">EMI Stream</span> 
                    : Plataforma de cursos en linea de la Escuela Militar de Ingenieria
                    </h2>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-8">
                <div class="message-profile-text">
                    <span>
                        ¡Potencia tus conocimientos y haz avanzar tu carrera con Emi Stream!.
                    </span>
                    <p>Nuestro plataforma te ofrece la oportunidad de fortalecer tus habilidades a través de la educación en línea. 
                        Ya sea que estés buscando expandir tus horizontes académicos o prepararte para un posgrado, 
                        estamos aquí para guiarte en cada paso del camino. Descubre los cursos que mejor se adapten a 
                        tus necesidades y comienza a construir el futuro que deseas. 
                        ¡Tu viaje hacia el éxito comienza ahora con Emi Stream!.
                    </p>
                </div>
                <div class="message-meta">
                    <a [routerLink]="['/instructor-profile']"><img src="/assets/img/about/cnl-eddy-quinteros.jpg"
                            alt="meta-img" width="100px" height="100px"></a>
                    <div class="message-meta-link">
                        <a [routerLink]="['/instructor-profile']">
                            <h4>Director de Grado
                                Escuela Militar de Ingeniería</h4>
                        </a>
                        <p>Cnl. DAEN. Eddy Hilarión Quinteros Urey</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- university-message-end -->