<div class="course-detalis-reviews pt-[15px]">
    <div class="course-detalis-reviews-tittle">
        <h3>Comentarios</h3>
    </div>
    <div class="course-review-item mb-[30px]">
        <div class="course-reviews-img">
            <a href="#"><img src="assets/img/course/course-reviews-1.png" alt="image not found"></a>
        </div>
        <div class="course-review-list">
            <h5><a [routerLink]="['/instructor']">Diego Claros</a></h5>
            <div class="course-start-icon">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>hace 55 min</span>
            </div>
            <p>
                Muy limpio y organizado con tutoriales, ejercicios y soluciones fáciles de seguir.
                soluciones. Este curso empieza desde el principio con muy pocos conocimientos y
                da una gran una gran visión general de las herramientas comunes utilizadas para la ciencia de datos y progresa en
                más conceptos e ideas más complejos.
            </p>
        </div>
    </div>
</div>