<div class="course-sidebar-info" [class.content-hidden]="shopDurationActive">
   <h3 class="drop-btn" (click)="shopDuration()">Duracion</h3>
   <ul>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-less">
            <label class="edu-check-label" for="e-less">Menos de 1 Houra (24)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="e-36">
            <label class="edu-check-label" for="e-36">1-2 Horas (36)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="m-25">
            <label class="edu-check-label" for="m-25">2-5 Horas (25)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="m-32">
            <label class="edu-check-label" for="m-32">6-7 Horas (32)</label>
         </div>
      </li>
      <li>
         <div class="course-sidebar-list">
            <input class="edu-check-box" type="checkbox" id="m-11">
            <label class="edu-check-label" for="m-11">7-10 Horas (11)</label>
         </div>
      </li>
   </ul>
</div>