<!-- footer-area-start -->
<footer>
    <div class="university-footer-area pt-[100px] pb-[60px]">
        <div class="footer">
            <div class="container">
                <div class="footer-main">
                    <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w1 mb-[40px]">
                                <div class="footer-widget-head">
                                    <div class="footer-logo mb-[30px]">
                                        <a [routerLink]="['/']">
                                            <img src="assets/img/logo/emi-stream-large.png" alt="image not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-icon">
                                        <ul>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w2 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Plataforma</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li>
                                                <!-- Agrega un icono a la lista de enlaces -->
                                                <a [routerLink]="['/course']" class="flex items-center">
                                                    <mat-icon class="mr-2">school</mat-icon>
                                                    <span>Cursos online</span>
                                                </a>
                                            </li>
                                            <li class="flex items-center">
                                                <a [routerLink]="['/courses']" class="flex items-center">
                                                    <mat-icon class="mr-2">build</mat-icon>
                                                    <span>Construye tu carrera</span>
                                                </a>
                                            </li>
                                            
                                            <li class="flex items-center">
                                                <a [routerLink]="['/courses']" class="flex items-center">
                                                    <mat-icon class="mr-2">person</mat-icon>
                                                    <span>Docentes capacitados</span>
                                                </a>
                                            </li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w3 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Contactanos</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li class="flex items-center">
                                                <mat-icon class="mr-2">contact_mail</mat-icon>
                                                <a [routerLink]="['/courses']">EMI Stream</a>
                                            </li>
                                            <li class="flex items-center">
                                                <mat-icon class="mr-2">phone</mat-icon>
                                                <a [routerLink]="['/courses']">+59168920509</a>
                                            </li>
                                            <li class="flex items-center">
                                                <mat-icon class="mr-2">phone</mat-icon>
                                                <a [routerLink]="['/courses']">4-4521614</a>
                                            </li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w3 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Ubicacion</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li class="flex items-center">
                                                <mat-icon class="mr-2">location_on</mat-icon>
                                                <a [routerLink]="['/courses']">Calle Lanza entre Oruro y La Paz</a>
                                            </li>
                                            <li class="flex items-center">
                                                <mat-icon class="mr-2">location_on</mat-icon>
                                                <a [routerLink]="['/courses']">Av. 23 de Marzo, Z. Muyurina</a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="university-sub-footer">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="col-span-12 md:col-span-5 lg:col-span-6">
                    <div class="sub-footer-text">
                        <span>© Copyrighted <a href="https://emi.edu.bo/">Emi Stream</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->