<!-- campus-area-start -->
<div class="campus-area overflow-hidden pt-[120px] pb-[70px] ">
    <div class="container">
        <div class="campus-wrapper relative">
            <div class="campus-shape-1">
                <img src="assets/img/shape/campus-shape-2.png" alt="shape">
            </div>
            <div class="campus-shape-2">
                <img src="assets/img/shape/student-shape-05.png" alt="shape">
            </div>
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px] items-center">
                <div class="col-span-12 lg:col-span-6 xl:col-span-5">
                    <div class="compus-content mb-[30px]">
                        <div class="section-title mb-[30px]">
                            <h2>Los estudiantes disfrutan aprender en 
                                <span class="down-mark-line-2">EMI Stream</span></h2>
                        </div>
                        <p>Ayudar a los estudiantes a adquirir habilidades y proporciona desarrollo profesional 
                            que a menudo pasa a un segundo plano frente a las prioridades de la malla curricular. 
                        </p>
                        <ul>
                            <li><i class="far fa-check"></i>Cursos completamente gratuitos </li>
                            <li><i class="far fa-check"></i>Inscripcion facil a los cursos </li>
                            <li><i class="far fa-check"></i>Accede a mas de 286 cursos online</li>
                            <li><i class="far fa-check"></i>Potencia tus habilidades</li>
                        </ul>
                    </div>
                </div>
                <div class="xl:col-span-1 maxLg:hidden"></div>
                <div class="col-span-12 lg:col-span-6">
                    <div class="campus-img-wrapper relative">
                        <div class="campus-shape-3">
                            <img src="assets/img/shape/campus-shape-1.png" alt="image not found">
                        </div>
                        <div class="campus-img-2 pt-10">
                            <img src="assets/img/about/LogoEmi.png" width="350px" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- campus-area-end -->