<!-- footer-area-start -->
<footer>
    <div class="university-footer-area pt-[100px] pb-[60px]">
        <div class="footer">
            <div class="container">
                <div class="footer-main">
                    <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w1 mb-[40px]">
                                <div class="footer-widget-head">
                                    <div class="footer-logo mb-[30px]">
                                        <a [routerLink]="['/']">
                                            <img src="assets/img/logo/emi-stream-large.png" alt="image not found">
                                        </a>
                                    </div>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-icon">
                                        <ul>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w2 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Plataforma</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li><a [routerLink]="['/course']">Cursos online</a></li>
                                            <li><a [routerLink]="['/course']">Costruye tu carrera</a></li>
                                            <li><a [routerLink]="['/become-instructor']">Docente capacitados</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w3 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Contactanos</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li><a [routerLink]="['/course']">posgrado_cbba@adm.emi.edu.bo</a></li>
                                            <li><a [routerLink]="['/course']"> +59168920509</a></li>
                                            <li><a [routerLink]="['/course']">4-4521614</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                            <div class="university-footer-widget uf-w3 mb-[40px]">
                                <div class="university-footer-widget-head mb-[35px]">
                                    <h4 class="university-footer-widget-title">Ubicacion</h4>
                                </div>
                                <div class="university-footer-widget-body">
                                    <div class="university-footer-link">
                                        <ul>
                                            <li><a [routerLink]="['/course']">Calle Lanza entre Oruro y La Paz</a></li>
                                            <li><a [routerLink]="['/course']">Av. 23 de Marzo, Z. Muyurina</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="university-sub-footer">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="col-span-12 md:col-span-5 lg:col-span-6">
                    <div class="sub-footer-text">
                        <span>© Copyrighted <a href="https://emi.edu.bo/">Emi Stream</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->